header {
    /* figma 1920(full) 1920px(x) 100%(o) */
    /* width: 100%;(기본값) */
    /* min-width(320~360px) max-width(100%) */
    min-width: 360px; 
    height: 80px; padding: 0 16px;
    background-color: #000;
    display: flex;
    flex-flow: row nowrap; /* 아이템(자식)의 정렬방향 row */
    align-items: center; /* 교차축(수직) 정렬 */
    justify-content: space-between; /* 메인축 양쪽 끝정렬 */
}
header h1 {
    width: 301px; /* height: 40px; */
    /* img태그가 들어가는 부모요소에 크기 입력 시 꼭 필요한 경우가 아니면 width, height 둘 다 입력하지 않고 width값만 입력하여 height값은 비율에 맞게 자동으로 설정되게 처리한다. ex)height:auto; */
}
header h1 a {}
header h1 a img {
    width: 100%; 
    /* img태그는 inline태그여도 원본 이미지 px고유값을 가지고 있기 때문에 부모의 크기가 변경돼도 상대값으로 따라가지 않는다. */
}
header nav {}
header nav a {
    color: #fff; font-size: 1.25rem;
    margin-right: 24px;
}
header nav a:last-child {margin: 0;}
/* a  상태선택자 : (동적)마우스 올렸을 때 */
header nav a:hover {color: #bbb;}
header .snb {
    display: flex;
}
header .snb a:first-child {
    color:#fff; border: 2px solid #fff;
    padding: 0 10px; border-radius: 5px;
    line-height: 39px; margin-right: 24px;
}
header .snb a:last-child {
    width: 36px; 
    /* display: inline-block; 부모가 flex 설정되면 생략가능*/
}
header .snb a img {width: 100%; filter:invert(1);}
/* .snb a 상태선택자 */
header .snb a:first-child:hover {
    background-color: #fff;
    color: #000; 
}
header .snb a:last-child:hover img {filter: invert(1) opacity(50%);}
/* --------main1. 동영상, 시작하기 버튼 위치 */
main {}
main .visual {
    height: 720px; overflow:hidden;
    position: relative;
}
main .visual video {width: 100%;}
main .visual .visual_title {
    position: absolute; left:0; top: 248px; 
    width: 100%; text-align: center;
    /* 겹치는 형제요소 디자인작업을 위한 absolute */
    /* 1. 겹치는 대상에 absolute 설정 후 부모확인을 위해 left:0; top:0; 초기값 설정(부모의 왼쪽 위로 배치) */
    /* 2. 배치된 위치가 원하는 부모 위치가 아닐 때->원하는 부모 대상에 position 추가 속성을 이용해서 부모설정하기 */
}
main .visual .visual_title h2 {
    font-size: 3rem; font-weight: 700; color:#fff;
    line-height: 1.2;
}
main .visual .visual_title .start_link {
    background-color: #000; color: #fff;
    border-radius: 10px;
    width: 160px; line-height: 54px;
    display: inline-block; margin-top: 30px;
}
main .visual .visual_title .start_link:hover {
    background-color: #fff; color: #000;
}
/* --------main2. 크리에이터 */
main .creater {
    width: 1300px;
    margin: 150px auto 0;
    text-align: center; /* 자식, 자손 글자 공통 정렬 */
}
main .creater h2 {
    font-size: 3rem; font-weight: 700;
}
main .creater h2+p {
    font-size: 1.25rem; line-height: 1.5;
    margin: 55px 0;
}
main .creater .img {
    width: 697px;
    margin:0 auto 55px;
}
main .creater .img img {
    width: 100%;
}
main .creater .studio {
    display: flex;
    flex-flow: row nowrap;
}
main .creater .studio dl {
    width: calc(100% / 3);
}
main .creater .studio dl dt {
    font-size: 2rem; font-weight: 700;
    margin-bottom: 16px;
}
main .creater .studio dl dd {
    font-size: 1.25rem;
}
/* --------main3. 제페토 세상 */
main .world {
    background-color: #f5f5f5;
    margin: 150px 0 0; padding: 150px 0;
}
main .world section {
    width: 1300px;
    margin: 0 auto;
    text-align: center;
}
main .world section h2 {
    font-size: 3rem; font-weight: 700;
}
main .world section p {
    font-size: 1.25rem; line-height: 1.5;
    margin: 50px 0;
}
main .world section .contents {
    padding: 0 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .world section .contents li {
    background-color: #fff;
    border-radius: 15px;
    width: calc((100% / 3) - 20px);
    height: 350px; /* 내용 높낮이가 서로 다르므로 높이 고정 */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main .world section .contents li h3 {
    font-size: 1.5rem; font-weight: 700;
}
main .world section .contents li p {
    line-height: 1.7;
    margin: 40px 0;
}
main .world section .contents li .more_link {
    background-color: #000; color: #fff;
    border-radius: 20px;
    line-height: 54px; width: 128px;
}
/* --------main3. 3억명 크리에이터 */
main .million {
    width: 1300px; margin: 150px auto;
    text-align: center;
}
main .million h2 {
    font-size: 3rem; font-weight: 700;
}
main .million p {
    font-size: 1.25rem; line-height: 1.5;
    margin: 50px 0;
}
main .million .img {
    padding: 0 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .million .img img {width: 240px;}
/* --------footer */
.f_bg {
    background-color: #f5f5f5;
    padding: 80px 0;
}
.f_bg footer {
    max-width: 1300px;
    margin: 0 auto;
}
.f_bg footer .f_top {
    margin: 0 0 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.f_bg footer .f_top .f_menu {}
.f_bg footer .f_top .f_menu a {
    margin-right: 24px;
}
.f_bg footer .f_top .f_menu a:last-child {margin: 0;}
.f_bg footer .f_top .lang_sns {
    display: flex;
    flex-flow: row nowrap;
}
.f_bg footer .f_top .lang_sns #lang_select {
    appearance: none; outline: none;
    background-image: url(../images/down.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-y: 5px;
    background-position-x: 65px;
    padding: 0 26px 0 10px;
    line-height: 25px;
    border-radius: 5px;
}
.f_bg footer .f_top .lang_sns #lang_select option {}
.f_bg footer .f_top .lang_sns .sns {
    margin-left: 12px;
}
.f_bg footer .f_top .lang_sns .sns img {}
.f_bg footer .copy {}