main {
    color: #050505;
}
/* 배경 공통&개별값 */
main .bg {
    background-position: center;
    background-repeat: no-repeat;
}
main .bg > section {
    width: 1250px; margin: 0 auto;
    background-color: purple;
}
main .bg1 {
    background-image: url(../images/bg.jpg);
    height: 1000px;
}
main .bg2 {
    background-image: url(../images/bg_2.jpg);
}
/* ---------------------------------1. 표지 */
main .bg1 section {
    overflow: hidden;
}
main .bg1 section h1 {}
main .bg1 section h1 a {}
main .bg1 section h1 a img {}
main .bg1 section h2 {
    color: #fff;
    text-align: center;
    font-size: 4.375rem;
    letter-spacing: -0.2px;
    line-height: 1.2;
    margin: 165px 0 30px; 
}
main .bg1 section h2 em {
    font-weight: 700;
}
main .bg1 section .support_link::after {
    content: '';
    background-image: url(../images/btn_right_arrow.svg);
    background-repeat: no-repeat;
    width: 32px; height: 32px;
    display: inline-block;
    margin-left: 10px;
}
main .bg1 section .support_link {
    /* 0% #fe9300, 100% #ff7300 */
    /* CSS 회전각도단위 deg */
    background: linear-gradient(90deg,#fe9300, #ff7300);
    /* gradient적용을 위해 background통합속성을 사용했을 때 해당 요소 추가 배경이미지 꾸미기를 원한다면 가상선택자(before, after)를 활용하는 것을 권장한다. */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 100px;
    width: 409px; height: 71px;
    /* text-align: center; line-height: 71px; */
    border-radius: 50px;
    font-size: 2.125rem;
    font-weight: 700;
}
main .bg1 section .support_question {
    background-color: #050505;
    color: #fff;
    float: right;
    width: 347px; height: 54px;
    border-radius: 30px;
    /* text-align: center; line-height: 64px; */
    font-size: 1.250rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .bg1 section .support_question::before,
main .bg1 section .support_question::after {
    content: '';
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: inline-block;
    width: 24px; height: 24px;
}
main .bg1 section .support_question::before {
    background-image: url(../images/icon_sms.svg);
    margin-right: 10px;
}
main .bg1 section .support_question::after {
    background-image: url(../images/btn_right_arrow.svg);
    margin-left: 10px;
}
/* ---------------------------------2. 퀴즈 */
main .bg2 section {
    display: flex;/* flex의 item 기본 메인 축 정렬은 수평 */
}
main .bg2 section > * {
    flex: 1; /* width: 50%; */
}
/* 퀴즈 왼쪽 */
main .bg2 section #quiz_frm {
    padding: 80px 0 80px;
}
main .bg2 section #quiz_frm .quiz_contents {
    color: #fff;
}
main .bg2 section #quiz_frm .quiz_contents h2 {
    font-size: 3.438rem;
    font-weight: 500;
    letter-spacing: -0.1px;
    width: 450px;
    text-align: center;
    margin: 0 0 40px;
}
main .bg2 section #quiz_frm .quiz_contents h2 + p,
main .bg2 section #quiz_frm .quiz_contents .quiz_list li{
    font-size: 1.25rem;
    font-weight: 500;
    margin:0 0 30px;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li:last-child {
    margin: 0;
}
main .bg2 section #quiz_frm .quiz_contents h2 + p {
    line-height: 1.7;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list {
    margin: 0 0 40px;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li {}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li input[name=percent] {
    display: none;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li label {
    background-image: url(../images/quiz_unchecked.svg);
    background-repeat: no-repeat;
    padding-left: 48px;
    line-height: 28px;
    display: inline-block;
}
/* 퀴즈(인풋 체크 시 활성화 label 디자인) */
main .bg2 section #quiz_frm .quiz_contents .quiz_list li input[name=percent]:checked + label {
    background-image: url(../images/quiz_checked.svg);
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list + p {
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list + p #answer_btn {
    background-color: #050505;
    color: #fff;
    width: 450px; line-height: 47px;
    border: 0;
    border-radius: 50px;
    font-size: 1rem;
}
/* 퀴즈 오른쪽 */
main .bg2 section .quiz_participation {
    padding-top: 170px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}
main .bg2 section .quiz_participation .status {
    width: 510px;
    border-radius: 10px;
    overflow: hidden;
}
main .bg2 section .quiz_participation .status h2::before {
    background-image: url(../images/icon_person.svg);
    content: '';
    display: inline-block;
    width: 42px; height: 42px;
}
main .bg2 section .quiz_participation .status h2 {
    background-color: #fe9300;
    color:#fff;
    line-height: 82px;
    font-size: 1.625rem;
    font-weight: 500;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
main .bg2 section .quiz_participation .status .contents {
    background-color: #fff;
    color: #ff7300;
    text-align: center;
    padding: 30px 0;
}
main .bg2 section .quiz_participation .status .contents em {
    font-size: 4.375rem;
    font-weight: 700;
    letter-spacing: -0.2px;
}
main .bg2 section .quiz_participation .status .contents span,
main .bg2 section .quiz_participation .status .contents strong {
    font-size: 2.125rem;
    font-weight: 700;
}
main .bg2 section .quiz_participation .status .contents strong {
    color: #050505;
}
main .bg2 section .quiz_participation p {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: right;
    margin-top: 20px;
}
/* ---------------------------------3. 북극곰 이야기 */