main {}
main .bg {
    width: 100%;
}
main .bg section {
    width: 1250px;
    margin: 0 auto;
}
main .bg1 {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
}
main .bg2 {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
}
main .bg1 section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
main .bg1 section > * {
    flex: 1;
}
/* 왼쪽 */
main .bg1 section .left_title {}
main .bg1 section .left_title > * {}
main .bg1 section .left_title h1 {
    padding: 100px 0;
}
main .bg1 section .left_title h1 a {}
main .bg1 section .left_title h1 a img {}
main .bg1 section .left_title h2 {
    font-size: 4.375rem;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    margin: 0 0 20px;
}
main .bg1 section .left_title h2 em {
    font-size: 2.125rem;
    font-weight: 500;
    line-height: 1.2;
}
main .bg1 section .left_title .download {
    display: flex;
    justify-content: space-between;
    width: 450px;
}
main .bg1 section .left_title .download .google_play::before,
main .bg1 section .left_title .download .app_store::before {
    content: ''; 
    display: inline-block;
    width: 48px; height: 48px;
    margin-right: 20px;
}
main .bg1 section .left_title .download .google_play::before {
    background-image: url(../images/google_playstore.png);
}
main .bg1 section .left_title .download .app_store::before {
    background-image: url(../images/app_store.png);
}
main .bg1 section .left_title .download .google_play,
main .bg1 section .left_title .download .app_store {
    background-color: #fff;
    border-radius: 10px;
    width: 220px; line-height: 78px;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 오른쪽 */
main .bg1 section .right_img {text-align: right;}
main .bg1 section .right_img img {}
/* -------------------------------------------2. 퀴즈 */
main .bg2 section {
    background-color: rgba(225, 120, 120, 0.2);
    border-radius: 30px;
}
main .bg2 section .quiz {
    width: 615px;
}
main .bg2 section .quiz h2 {
    font-size: 3.438rem;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin: 35px 0 30px ;
}
main .bg2 section .quiz p,
main .bg2 section .quiz .quiz_list li {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
}
main .bg2 section .quiz .quiz_list {}
main .bg2 section .quiz .quiz_list li {}
main .bg2 section .quiz .quiz_list li input[name=app_service] {
    display: none;
}
main .bg2 section .quiz .quiz_list li label {
    background-image: url(../images/uncheck.svg);
    background-repeat: no-repeat;
    padding-left: 38px;
}
main .bg2 section .quiz .quiz_list li input[name=app_service]:checked  + label {
    background-image: url(../images/check.svg);
}
main .bg2 section .quiz .quiz_list + p {}
main .bg2 section .quiz .quiz_list + p .answer_btn {}