main, footer {font-family: "Noto Sans KR", sans-serif;}
/* 공통 */
main .bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* bg cover란? 배경이미지가 적용된 요소의 크기에 자동으로 가로세로 크기를 맞춰 채운다는 뜻 */
}
main .bg > section,
footer .bg > section  {
    width: 1250px;
    margin: 0 auto;
}
main .bg > section *,
footer .bg > section * {letter-spacing: -0.2px;}
/* 다운로드 버튼 공통 */
main .bg section .download {
    display: flex;
}
main .bg section .download .google_play::before,
main .bg section .download .app_store::before {
    background-repeat: no-repeat;
    content: ''; 
    display: inline-block;
    width: 48px; height: 48px;
    margin-right: 20px;
}
main .bg section .download .google_play::before {
    background-image: url(../images/google_playstore.png);
}
main .bg section .download .app_store::before {
    background-image: url(../images/app_store.png);
}
main .bg section .download .google_play,
main .bg section .download .app_store {
    background-color: #fff;
    border-radius: 10px;
    width: 220px; line-height: 68px;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}
main .bg section .download:last-child {
    margin-right: 0;
}
/* .sub_title 공통 */
main .bg section .sub_title {
    font-size: 3.438rem; font-weight: 700;
    text-align: center;
}
/* -------------------------------------------1. 표지 */
main .bg1 {
    background-image: url(../images/bg1.jpg);
}
main .bg1 section {
    display: flex;
    justify-content: space-between;
}
/* 왼쪽 */
main .bg1 section .left {}
main .bg1 section .left h1 {
    margin: 100px 0;
}
main .bg1 section .left h1 a {}
main .bg1 section .left h1 a img {}
main .bg1 section .left h2:nth-of-type(1) {
    font-size: 2.125rem;
    font-weight: 500;
    margin-bottom: 13px;
}
main .bg1 section .left h2:nth-of-type(2) {
    font-size: 4.375rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 100px;
}
main .bg1 section .left .download {}
/* 오른쪽 */
main .bg1 section .right {margin: 150px 0 90px;}
main .bg1 section .right img {}
/* -------------------------------------------2. 퀴즈 */
main .bg2 {
    background-image: url(../images/bg2.jpg);
}
main .bg2 section {
    padding: 30px 0;
}
main .bg2 section .quiz {
    background-color: rgba(225, 120, 120, 0.2);
    border-radius: 30px;
    width: 615px;
    padding: 30px 0;
}
main .bg2 section .quiz h2 {
    font-size: 3.438rem;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
}
main .bg2 section .quiz h2 + p,
main .bg2 section .quiz .quiz_list li label {
    font-size: 1.25rem;
    font-weight: 500;
}
main .bg2 section .quiz h2 + p {
    text-align: center;
    margin: 30px 0 20px;
}
main .bg2 section .quiz .quiz_list {
    margin:0 0 30px 78px;
}
main .bg2 section .quiz .quiz_list li {
    margin-bottom: 20px;
}
main .bg2 section .quiz .quiz_list li:last-child {
    margin-bottom: 0;
}
main .bg2 section .quiz .quiz_list li input[name=app_service] {
    display: none;
}
main .bg2 section .quiz .quiz_list li label {
    background-image: url(../images/uncheck.svg);
    background-repeat: no-repeat;
    padding-left: 38px;
    line-height: 34px;
}
main .bg2 section .quiz .quiz_list li input[name=app_service]:checked  + label {
    background-image: url(../images/check.svg);
}
main .bg2 section .quiz .quiz_list + p {text-align: center;}
main .bg2 section .quiz .quiz_list + p #answer_btn {
    background-color: #82DC28;
    font-size: 1.25rem; 
    font-weight: 500;
    border: 0;
    border-radius: 30px;
    width: 580px; line-height: 54px;
}
/* -------------------------------------------3. 영상 */
main .bg3 {background-image: url(../images/bg3.jpg);}
main .bg3 section {padding: 100px 0;}
main .bg3 section .sub_title {line-height: 1.3;}
main .bg3 section #video {
    margin: 80px auto;
    width: 100%;
}
main .bg3 section .download {
    display: flex; justify-content: center;
}
/* -------------------------------------------4. 다양한 서비스 */
main .bg4 {background-image: url(../images/bg4.jpg);}
main .bg4 section {padding: 100px 0;}
main .bg4 section .sub_title {
    color: #fff;
    margin-bottom: 80px;
}
main .bg4 section .contents {
    display: flex;
    justify-content: space-between;
}
main .bg4 section .contents dl {
    background-color: #f0f0f0;
    border-radius: 50px;
    text-align: center;
    padding: 50px 0;
}
main .bg4 section .contents dl dt {
    font-size: 2.125rem; font-weight: 700;
    line-height: 41px;
}
main .bg4 section .contents dl dd:nth-of-type(1) {
    font-size: 1.25rem; line-height: 34px; 
    margin-bottom: 10px;
}
main .bg4 section .contents dl dd img {}
/* -------------------------------------------5. 오늘드림 */
main .bg5 {background-image: url(../images/bg5.jpg);}
main .bg5 section {
    padding: 100px 0;
    text-align: center;
}
main .bg5 section .sub_title {
    line-height: 1.3;
}
main .bg5 section h3 {
    font-size: 2.688rem; font-weight: 600; 
    line-height: 52px;
    margin: 80px 0;
}
main .bg5 section h3 span {
    color: #ff7878; font-weight: 600;
}
main .bg5 section .delivery {
    display: flex;
    justify-content: space-between;
}
main .bg5 section .delivery dl {
    background-color: #fff;
    border-radius: 10px;
    width: 402px;
    padding: 30px 0;
}
main .bg5 section .delivery dl dt {
    font-size: 2.125rem; font-weight: 700;
}
main .bg5 section .delivery dl:nth-child(1) dt em {
    color: #82DC28; font-weight: 700;
}
main .bg5 section .delivery dl:nth-child(2) dt em {
    color: #ff7878; font-weight: 700;
}
main .bg5 section .delivery dl:nth-child(3) dt em {
    color: #46227c; font-weight: 700;
}
main .bg5 section .delivery dl dd:first-of-type {
    font-size: 1.25rem; font-weight: 500;
    line-height: 1.7; margin: 20px 0;
}
main .bg5 section .delivery dl dd:last-child {
    line-height: 1.7;
}

/* -------------------------------------------12. footer */
footer {} 
footer .bg12 {background-color: #eee;} 
footer .bg12 section {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
footer .bg12 section > a {} 
footer .bg12 section .info {
    width: 937px;
    display: grid;
    grid-template-areas: 
    'cont law hana'
    'info info info';
    grid-gap: 20px 67px;
    grid-template-columns: 355px 220px 250px;
    
} 
footer .bg12 section .info * {
    line-height: 1.7;
} 
footer .bg12 section .info .contents {grid-area: cont;} 
footer .bg12 section .info .contents p {
    font-weight: 700;
    margin-bottom: 10px;
} 
footer .bg12 section .info .contents address {} 
footer .bg12 section .info .contents .mail {
    display: block;
}
footer .bg12 section .info .contents a:last-child,
footer .bg12 section .info .hana_service a {
    border-bottom: 1px solid#000;
} 
footer .bg12 section .info .contents a:last-child::after,
footer .bg12 section .info .hana_service a::after {
    background-image: url(../images/arrow_footer.svg);
    background-repeat: no-repeat;
    background-position-y: 1px;
    content: ''; display: inline-block;
    width: 16px; height: 16px;
} 
footer .bg12 section .info .contents address a:last-child::after {} 
footer .bg12 section .info .law {grid-area: law;} 
footer .bg12 section .info .law li {} 
footer .bg12 section .info .law li a {} 
footer .bg12 section .info .law li a:nth-child(2)::before {
    content: '・'; margin-right: 4px;
} 
footer .bg12 section .info .law li:nth-child(2) a {
    font-weight: 700;
} 
footer .bg12 section .info .hana_service {grid-area: hana;} 
footer .bg12 section .info .hana_service p:first-child {
    font-weight: 700; margin-bottom: 10px;
} 
footer .bg12 section .info .hana_service p:last-child {margin: 10px 0;} 
footer .bg12 section .info > p {grid-area: info;} 
/* footer 아래 */
footer .bg13 {background-color: #cdcdcd;} 
footer .bg13 section {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
footer .bg13 section .left {font-weight: 700;} 
footer .bg13 section .right {
    display: flex;
    align-items: center;
} 
footer .bg13 section .right p {font-weight: 700;} 
footer .bg13 section .right .sns {} 
footer .bg13 section .right .sns a {margin-left: 20px;} 
footer .bg13 section .right .sns a img {} 