main {
    font-family: "Noto Sans KR", sans-serif;
    width: 1024px;
    margin: 84px auto 0;
}
main > * {
    width: 500px;
    margin-left: auto; margin-right: auto;
}
main h1 {
    font-weight: 900;
    font-size: 4.375rem;
    letter-spacing: -0.2px;
    margin-bottom: 25px;
}
main p {
    font-size: 1.25rem;
    letter-spacing: -0.2px;
    margin-bottom: 57px;
}
main #login_frm {}
main #login_frm fieldset {}
main #login_frm fieldset dl {}
main #login_frm fieldset dl dt,
main #login_frm fieldset h2 {
    font-weight: 700;
    font-size: 1.875rem;
    letter-spacing: -0.2px;
}
main #login_frm fieldset dl dd {
    margin: 18px 0 38px;
}
main #login_frm fieldset dl dd input[required] {
    width: 100%;
    line-height: 53px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding-left: 15px;
    color: #aaa; /* input 입력 글자 색상 */
}
main #login_frm fieldset dl dd input[required]::placeholder {
    color:#f00
}
main #login_frm fieldset h2 {
    margin-bottom: 32px;
}
main #login_frm fieldset .btn {}
main #login_frm fieldset .btn button[type=submit] {
    font-weight: 700;
    letter-spacing: -0.2px;
    width: 100%;
    line-height: 53px;
    border-radius: 10px;
    border: 1px solid #aaa;
}
main #login_frm fieldset .btn #login_btn {
    color: #fff;
    background-color: #222;
    margin-bottom: 18px;
}
main #login_frm fieldset .btn #login_google_btn {
    color: #222; 
    background-color: #fff;
    margin-bottom: 62px;
}
main .join_link {
    font-size: 1rem;
    text-align: center;
    color: #555;
}
main .join_link a {
    font-weight: 700;
    letter-spacing: -0.2px;
}