html {scrollbar-width: 10px;;scrollbar-color: #D9D9D9 #fff;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px #fff;}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #D9D9D9;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}
body, html {background-color: #F5F5F5;}
main {
    font-family: "Noto Sans KR", sans-serif;
    width: 1024px;
    margin: 40px auto 0;
}
main h1 {
    text-align: center;
    margin: 41px;
}
main h1 a {}
main h1 a img {}
/* 회원가입약관 */
main .law {
    width: 612px; height: 200px;
    background-color: #fff;
    overflow: auto;
    margin: 0 auto 54px;
    padding: 10px;
}
main .law h2,
main .law h3,
main .law p {
    font-size: 0.75rem;
    line-height: 1.6;
    letter-spacing: -0.2px;
}
main .law h2 {
    margin-bottom: 38px;
}
main .law h3 {}
main .law p {
    margin-bottom: 19px;
}
/* 회원가입양식 */
main #join_frm {
    width: 612px;
    margin: 0 auto;
}
main #join_frm .user_info {}
main #join_frm .user_info dl {
    overflow: hidden;
}
main #join_frm .user_info dl dt /* 제목 공통 */{
    float: left;
    width: 156px; height: 40px;
    padding: 8.5px 0;
    letter-spacing: -0.2px;
}
main #join_frm .user_info dl dt span /* 필수표시 */{
    color:#f00
}
main #join_frm .user_info dl dd /* 내용 공통 */{
    float: left;
    width: 300px; height: 40px;
    margin-bottom: 10px;
}
/* 아이디, 비밀번호, 확인, 이름, 이메일, 휴대폰 입력 input 공통 선택자 */
main #join_frm .user_info dl dd input[name^=user] {
    background-color: #fff;
    width: 100%; height: 100%;
    border: 1px solid #aaa;
    border-radius: 5px;
    letter-spacing: -0.2px;
    font-size: 0.875rem;
    padding: 10px 0 10px 10px;
}
main #join_frm .user_info dl dd input[name^=user]::placeholder {
    color: #aaa;
}
main #join_frm .user_info dl dd:nth-child(3n) /* 내용(버튼위치, 빈) 공통 */{
    width: 156px;
    float: right;
    text-align: right;
}
/* 중복확인(아이디, 이메일), 인증번호 받기 공통 선택자 */
main #join_frm .user_info dl dd button[id$=btn] {
    background-color: #9e00b7;
    color: #fff;
    width: 120px; height: 100%;
    border: 0;
    border-radius: 5px;
    letter-spacing: -0.2px;
    font-size: 0.875rem;
}
/* 휴대폰 */
main #join_frm .user_info dl dd select[name=mobile_carrier] {
    appearance: none; /* select의 기본 화살표 숨기기 */
    background-image: url(../images/arrow_drop_down.svg);
    background-repeat: no-repeat;
    /* 
    background-position: x축값 y축값; (왼쪽상단기준)
    background-position: 10px 20px;
    background-position: right bottom;
    */
    background-position: 29px 14px;
    font-size: 0.75rem;
    padding-left: 9px;
    width: 50px; height: 100%;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-right: 5px;
}
main #join_frm .user_info dl dd select[name=mobile_carrier] option {}
main #join_frm .user_info dl dd select[name=mobile_carrier] + input {
    width: 245px;
    float: right;
}
main #join_frm .user_info dl dd button[id$=btn]:disabled /* 인증번호 받기(색상) */{
    background-color: #ccc;
}
/* 주소 */
main #join_frm .user_info dl dt:nth-of-type(7) + dd,
main #join_frm .user_info dl dt:nth-of-type(7) + dd + dd {
    height: 68px; 
}
main #join_frm .user_info dl dd #btn_address_search {
    background-color: #fff;
    border: 1px solid #9e00b7;
    border-radius: 5px;
    width: 100%; height: 43px;
    margin-bottom: 5px;
}
main #join_frm .user_info dl dd #btn_address_search + span {
    color: #aaa;
    font-size: 0.875rem;
    letter-spacing: -0.2px;
}
/* 성별 */
main #join_frm .user_info dl dt:nth-of-type(8) + dd {
    text-align: center;
    padding: 10px 0;
}
main #join_frm .user_info dl dd input[name=gender] /* 공통 */{
    display: none;
}
main #join_frm .user_info dl dd input[name=gender]:checked + label /* 선택공통 */{
    background-image: url(../images/gender_checked.svg);
}
main #join_frm .user_info dl dd input[name=gender] + label /* 공통 */{
    background-image: url(../images/gender_unchecked.svg);
    background-repeat: no-repeat;
    padding-left: 21px;
    background-position:0 3px;
    font-size: 0.875rem;
}
/* 생년월일 */
/* 생년월일 dd만 별도 선택자 추가 */
main #join_frm .user_info dl dt:last-of-type + dd {
    background-color: #fff;
    border: 1px solid #9e00b7;
    border-radius: 5px;
    margin-bottom: 54px;
    text-align: center;
    padding: 10px 0;
}
main #join_frm .user_info dl dd input[name^=birthday] {
    border: none;
    color: #aaa;
    font-size: 0.875rem;
    letter-spacing: -0.2px;
    text-align: center;
    width: 59px;
}
main #join_frm .user_info dl dd input[name^=birthday] + span {
    color: #aaa;
    font-size: 0.875rem;
}
/* number 옆 화살표 모양 없애기 */
/* Chrome, Safari, Edge, Opera */
main #join_frm .user_info dl dd input[type=number]::-webkit-outer-spin-button,
main #join_frm .user_info dl dd input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
main #join_frm .user_info dl dd input[type=number] {
    -moz-appearance: textfield;
}
/* 최종버튼 */
main #join_frm .user_info .sign_up {
    text-align: center;
}
main #join_frm .user_info .sign_up #join_btn {
    background-color: #9e00b7;
    color: #fff;
    border: 0;
    border-radius: 10px;
    width: 200px; height: 40px;
    font-size: 0.875rem;
}