/* css디자인 */
/* #top {background-color: aqua;}
#top main {background-color:yellow;}
#top main h1 {background-color: lime;}
#top main p {} */

div.title {background-color: orange;}
div.title h1 {background-color: aqua;}
div.title div.txt_warp {background-color: blueviolet;}
div.title div.txt_warp div.txt_1 {background-color: aquamarine;}
div.title div.txt_warp div.txt_1 p.sub_title {background-color: blue;}
div.title div.txt_warp div.txt_1 p.name {background-color: bisque;}
/* .title {}
.title h1 {}
.title .txt._warp {}
.title .txt._warp .txt_1 {}
.title .txt._warp .txt_1 .sub_title {}
.title .txt._warp .txt_1 .name {} */

/* 선택자 연습2 */
#weather {background-color: aqua;}
#weather h1 {background-color: beige;}
#weather .area {background-color: blue;}
#weather .temperature {background-color: blueviolet;}
#weather p {background-color: brown;}
#weather .sub_title {background-color: tomato;}
#weather .humidity {background-color: orange;}
#weather .dust {background-color: darkseagreen;}
#weather .result {background: darkgrey;}

/* 선택자 연습3 */
#news {background-color: green;}
#news > a {background-color: beige;}
#news .box {background-color: yellow;}
#news .box a {background-color: blue;}
#news .box a h2 {background-color: blueviolet;}
#news .box a p {background-color: tomato;}
#news > p {background-color: darkorange;}

/* 선택자 연습4 */
#papago {background-color: beige;}
#papago nav {background-color: blueviolet;}
#papago nav a {background-color: aquamarine;}
#papago main {background-color: tomato;}
#papago main h1 {background-color: forestgreen;}
#papago main h1 a {background-color: mediumslateblue;}
#papago main > a {background-color: yellow;}
#papago > a {background-color: olive;}